/coverage-report-js
/ivenza-version
/version
generated-sources/
node_modules/
target/
overlays/
test-report/
*.iml
.ant-targets-*
lerna-debug.log
pom.xml.versionsBackup
yarn-error.log
.DS_Store
.idea/
coverage/
/docker/mariadb/compose/mariadb-files/
.env
*.run.xml
dependency-reduced-pom.xml
.flattened-pom.xml
package-lock.json